body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-family: Libre Baskerville;
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

img {
    height: 500px;
    width: 100%;
    border: 5px solid white;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    width: 50%;
    margin-left: 25%;
    padding-top: 50px;
}